@import "./vars";
@import "./mixins";

* {
  box-sizing: border-box;
}


// start header
.header {
  min-height: 100px;
  background-color: #27262a;
  display: flex;
  justify-content: center;
  padding: 15px 0;
}

.header__logo-block {
  display: flex;
  align-items: center;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
}
.header__wrapper{
  padding-left: 20px;
  padding-right: 20px;
}

.header__logo-text {
  margin-left: 16px;
}

.header__logo-text-link {
  text-decoration: none;
  font-family: $font_2;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  color: $color_purple;
}
.header__logo-block:hover .header__logo-text-link{
  color: white;
}
.header__logo-block:hover .header__logo-img{
  background-image: url("../assets/img/logo2.png");
}

.header__logo-img {
  display: block;
  width: 43px;
  height: 41px;
  background-image: url("../assets/img/logo.png");
}


.header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header__list {
  display: flex;
  align-items: center;
}

.header__list-item {
  margin-right: 40px;
}

.header__menu-link {
  color: $color_purple;
  font-weight: bold;
  font-size: 16px;
  font-family: $font_1;
  text-decoration: none;
}

.header__menu-link:hover {
  color: white;
}

.header__grow-block {
  flex-grow: 2;
}

.btn_buy {
  font-family: $font_1;
  color: white;
  font-weight: bold;
  font-size: 16px;
  background-color: $color_purple;
  border: none;
  border-radius: 20px;
  padding: 8px 30px;
  cursor: pointer;
}

.btn_buy:hover {
  color: $color_purple;
  background-color: white;
  border: 1px solid $color_purple;
}

.header__nav {}

#toggle {
  display: none;
}

.menu-btn {
  display: block;
  width: 26px;
  height: 4px;
  background-color: white;
  position: relative;
  top: 10px;
  border-radius: 3px;
  cursor: pointer;
}

.menu-btn::after {
  content: '';
  display: block;
  width: 26px;
  height: 4px;
  background-color: white;
  position: relative;
  top: 7px;
  border-radius: 3px;
}

.menu-btn::before {
  content: '';
  display: block;
  width: 18px;
  height: 4px;
  background-color: white;
  position: relative;
  top: -10px;
  left: 8px;
  border-radius: 3px;
}

.menu-btn-box {
  content: '';
  display: block;
  width: 26px;
  height: 26px;
  position: absolute;
  cursor: pointer;
}

.header__hamburger {
  display: none;
}

// end header



// start banner

.banner {
  background-image: url("../assets/img/banner.png");
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 700px;
}

.banner__main-header {
  color: white;
  font-weight: bold;
  font-family: $font_1;
  font-size: 82px;
  padding-top: 60px;
  text-align: center;
}

.banner__sub-header {
  color: $color_purple;
  font-family: $font_2;
  font-size: 30px;
  margin-top: 30px;
  text-align: center;
}

.banner__description {
  color: #848e97;
  font-family: $font_1;
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
}

.banner__btn-downl {
  font-family: $font_1;
  color: white;
  font-weight: bold;
  font-size: 21px;
  background-color: $color_purple;
  border: none;
  border-radius: 40px;
  padding: 20px 60px;
  cursor: pointer;
}

.banner__btn-downl:hover {
  color: $color_purple;
  background-color: white;
  border: 1px solid $color_purple;
}

.banner__btn-description {
  color: #848e97;
  font-family: $font_1;
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
}

.banner__btn-block {
  position: relative;
  bottom: -68px;
}

// end banner


//  SECTION PRESENT MADE BY MABUHOTNII
.present {
  width: 100%;
  height: 362px;
}
.present__text {
  text-transform: unset;
}

.present__div__text {
  font-size: 30px;
  font-family: $font_1;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 23px;
  line-height: 1.5em;
  width: 80%;
  margin: 0 auto;
}

.present__div__text {
  color: #635c73;
  font-family: $font_1;
  text-align: center;
  font-size: 14px;
  padding-bottom: 34px;
  line-height: 1.0em;
  width: 90%;
  margin: 0 auto;
}


.present__section__buttons {
  display: flex;
  margin: 5px auto;
  justify-content: center;
  flex-direction: column;
}

.present__first-buttons {
  margin: 10px;
}

.div__buttons {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 88px;

}

.link-button {
  display: flex;
  font-weight: bold;
}


.link-button div {
  padding: 7px 10px 8px 10px;
  background-color: #f2f2f2;
  border: 1px solid $border_color;
  border-radius: 2px;
  border-right: 0px solid $border_color;
  border-collapse: separate;
}

.link-button i {
  padding-right: 5px;
}

.link-button a {
  text-decoration: none;
  color: #333333;
}

.link-button span {
  padding: 8px 7px;
  border: 1px solid $border_color;
  border-collapse: collapse;
  font-size: 14px;
  color: #323232;
  border-radius: 2px;
}
.present__header {
  text-transform: uppercase;
  max-width: 1200px;
  margin: 0 auto;
}

.present__text {
  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 481px) {

  .present {
    width: 100%;
    height: 362px;
  }
  .present__header {
    font-size: 42px;
    padding-top: 70px;
  }

  .present__div__text {
    font-size: 21px;
    width: 90%;
  }


  .present__buttons {
    display: inline-flex;
    margin: 0 auto;
  }


  .present__section__buttons {
    margin: 5px auto;
    padding-bottom: 88px;
    display: flex;
    flex-direction: unset;
  }
}

//  SECTION FUTURES MADE BY NABUhotnII

.features {
  background-color: #F4F4F4;
  font-family: $font_1;
}

.features__container {
  width: 100%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 130px;
}

.features__header_ {
  font-family: $font_1;
  font-size: 30px;
  text-align: center;
  color: #8D81AC;
  font-weight: bold;
  padding-top: 34px;
  line-height: 1.5em;
  width: 70%;
  margin: 0 auto;
  padding-bottom: 34px;
}


.container__features__description:first-child {
  margin-top: 30px;
}

.container__features-img {
  margin: 0 auto;
}

.container__features__content__h {
  font-size: 18px;
  color: #323232;
  font-family: $font_1;
  margin-top: 37px;
  font-weight: 500;
  margin-bottom: 17px;
}

.offer__h {
  margin: 68px;
}

.container__features__content__text {
  font-size: 14px;
  line-height: 21px;
  color: #848E97;
  margin-top: 16px;
  font-family: $font_1;
  margin-bottom: 37px;
}

.container__features-img_1 {
  width: 111px;
  height: 63px;
}

.container__features-img_2 {
  width: 90px;
  height: 80px;
}

.container__features-img_3 {
  width: 75px;
  height: 84px;
}

.container__features-img_4 {
  width: 71px;
  height: 71px;
}

.offer__img {
  width: 50%;
  padding-top: 20px;
}

.offer__img img {
  margin-top: 20px;
}

.container__features__description {
  margin-top: unset;
  padding: 0 15px;

}

.div__buttons {
  display: inline-block;
  position: relative;
  top: 5px;
}


@media (max-width: 993px) {
  .offer__img {
    padding-left: 12px;
    width: unset;
    padding-top: 20px;
  }


}


.features__header__block_ {

  display: unset;
  text-align: right;
  padding-bottom: 20px;
  font-size: 48px;
  line-height: 20px;
  color: #8d81ac;
  font-family: $font_1;
  font-weight: 700;
}

.link-button-div {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  position: relative;
  bottom: 10px;
}

@media (min-width: 481px) {
  .link-button-div {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    position: relative;
    bottom: 15px;
  }
}
.present__container {
  display: flex;
  width: 100vw;
  justify-content: center;
}

.present__section__buttons div {
  display: flex;
  flex-direction: unset;
}

._block {
  display: unset;
}

@media (min-width: 481px) {

  .link-button-div {
    display: flex;
    justify-content: center;
    margin-top: unset;
  }

  .container__features__description {
    padding-left: 5px;
    display: inline-block;
    width: 100%;
    margin-top: 56px;
  }

  .container__features__content {
    padding: 0px 20px;
  }

  .container__features-img {
    float: left;
  }

  .container__features__content__text {
    display: flex;
    text-align: left;
  }

  .container__features__content__h {
    display: flex;
    text-align: left;
    margin: 0;
    padding: 0;
  }

  .container__features__content__div {
    margin-left: 135px;
  }

  .offer__img {
    padding-bottom: 10px;
  }

  .features__header_ {
    padding-bottom: 5px;
  }

  .div__buttons {
    padding: 20px 0 0 10px;
    margin-top: unset;
  }

  .features__header__block {
    display: unset;
    margin-bottom: 20px;
    font-size: 34px;
    line-height: 40px;
    color: #8d81ac;
    font-family: $font_1;
    font-weight: 700;
  }
}

.present__h {
  margin-top: 70px;
  font-size: 26px;
  line-height: 42px;
  color: #635c73;
  font-family: $font_1;
  font-weight: 700;
  text-align: center;
  padding-top: 70px;
  text-transform: uppercase;
}

._block {
  display: none;
}

.features__header__block-top {
  display: unset;
  width: 213px;
  height: 63px;
  font-size: 32px;
  line-height: 38px;
  color: #8d81ac;
  font-family: $font_1;
  font-weight: 700;
  text-align: center;
}

.container__offer {
  overflow: hidden;
}

@media (min-width: 993px) {
  .present__h {
    font-size: 54px;
  }

  .present__div__text {
    font-size: 21px;
    width: 70%;
  }

  .features__header_ {
    display: none;
  }

  .container__offer {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 70px;
    padding-left: 10px;
    overflow: hidden;
  }

  .container__features__description {
    margin-top: 0px;
  }


  .container__features__content {
    width: 50%;
  }

  .present__section__buttons {
    margin-bottom: 70px;
    display: flex;
    flex-direction: unset;
  }

  .container__features__content__text {
    width: 90%;
  }

  .features__header__block-top {
    display: none;
    width: 213px;
    height: 63px;
    font-size: 32px;
    line-height: 38px;
    color: #8d81ac;
    font-family: $font_1;
    font-weight: 700;
    text-align: center;
  }


  ._block {
    display: unset;
  }


}

// start testimonials
.testimonials {
  background-image: url("../assets/img/testemonials.png");
  background-size: cover;
  width: 100%;
}

.testimonials .wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.testimonials__cards-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.testimonials__header {
  font-weight: bold;
  font-family: $font_1;
  font-size: 48px;
  color: white;
  padding-top: 100px;
  margin-bottom: 95px;
  text-align: center;
}

.testimonials__card {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 95px;

}

.testimonials__card-text {
  font-weight: bold;
  font-style: italic;
  font-family: $font_2;
  font-size: 16px;
  color: white;
  text-align: center;
  margin-top: 30px;

}

.testimonials__description {
  color: #a291a5;
  font-family: $font_2;
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
  line-height: 22px;
  padding: 0 80px;

}

.testimonials__description:after {
  content: '';
  display: block;
  width: 90%;
  height: 1px;
  background-color: #a291a5;
  position: relative;
  top: 20px;
  margin: 0 auto;
}

// !!!! Медиа запросы
@media(max-width: 992px) {
  .header__nav {
    order: 3;
    margin: 0 auto;
  }

  .header__list :last-child {
    margin-right: 0;
  }

  .header__grow-block {
    width: 250px;
  }

  .banner {
    min-height: 680px;
  }

  .banner__main-header {
    font-size: 72px;
    padding-top: 50px;

  }

  .banner__sub-header {
    font-size: 24px;
  }

  .banner__description {
    font-size: 14px;
    ;
  }

  .testimonials .wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
  }

  .testimonials__header {
    font-size: 42px;
    padding-top: 78px;
    margin-bottom: 90px;
  }

  .testimonials__card {
    margin-bottom: 50px;
    width: 40%;
  }

  .testimonials__description {
    padding: 0 28px;

  }

  .testimonials__description:after {
    width: 100%;
  }
}

@media(max-width: 600px) {
  .header__grow-block {
    display: none;
  }
  .header__menu-link {
    font-size: 14px;
  }
}


@media(max-width: 482px) {

  .header__list :last-child {
    margin-right: 0;
  }

  .header__hamburger {
    display: unset;
  }

  .header .wrapper {
    flex-wrap: nowrap;
    padding-right: 15px;
    padding-left: 15px;
  }

  .header__main-menu {
    position: absolute;
    display: none;
    top: 100px;
    background-color: #333333;
    width: calc(100% - 30px);
    left: 15px;

  }

  .header__list {
    display: flex;
    flex-direction: column;
  }

  .header__nav {
    width: 26px;
    height: 26px;
    margin: 0;
  }

  .header__logo-text {
    display: none;
  }

  #toggle:checked+.header__main-menu {
    display: unset;
  }

  .header__list-item {
    height: 88px;
    border-bottom: 1px solid #3b3b3b;
    width: 100%;
    margin: 0 auto;
    text-align: left;
    line-height: 88px;
    position: relative;
  }

  .header__menu-link {
    font-size: 26px;
    font-weight: normal;
    color: white;
    display: block;
    padding-left: 30px;

  }

  .header__menu-link:hover {
    color: $color_purple;
  }

  .header__menu-link:hover::before {
    content: '';
    display: block;
    width: 10px;
    height: 55px;
    background-color: $color_purple;
    position: absolute;
    top: 15px;
    left: 0;
  }

  .header {
    min-width: 320px;
  }

  .banner {
    min-height: 615px;
    min-width: 320px;
  }

  .banner__btn-block {
    min-width: 290px;

  }

  .banner__btn-downl {
    font-size: 18px;
    font-weight: normal;
    border-radius: 40px;
    padding: 20px 46px;
  }

  .banner__main-header {
    font-size: 48px;
    padding-top: 40px;

  }

  .banner__sub-header {
    font-size: 18px;
    text-transform: capitalize;
    line-height: 36px;
  }

  .testimonials {
    min-width: 320px;
  }

  .testimonials__cards-block {
    justify-content: center;
  }

  .testimonials__card {
    margin-bottom: 40px;
    width: calc(100% - 40px);
  }

  .testimonials__header {
    font-size: 36px;
    margin-bottom: 40px;
  }

  .testimonials__description {
    display: none;
  }

  .testimonials__cards-block:after {
    content: '';
    display: block;
    width: 94%;
    height: 1px;
    background-color: #a291a5;
    position: relative;
    margin: 0 auto;
  }

}

// 
// SECTION PRICING MADE BY NABUHOYNII
// 
.pricing {
  background-image: url("../assets/img/Layer2.png");
  min-width: 320px;
  padding-bottom: 130px;
}

.pricing-header {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 70px;
  line-height: 42px;
  color: #ffffff;
  font-family: $font_1;
  text-align: center;
}

.pricing-header h2 {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 55px;
}

.group {
  display: flex;
  flex-direction: unset;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.grid-1-4 {
  height: 500px;
  margin: 20px 7px;
  background-color: rgba(121, 97, 119, 0.7);
  border: 2px solid #5d4e65;
  position: relative;
  text-align: center;
  transition: all .4s ease-in-out;
}

.grid-1-4-active {
  width: 90% !important;
  margin: 20px 7px !important;
  background-color: rgba(0, 0, 0, 0.1) !important;
}


.grid-1-4-active h2 {
  background-color: rgba(0, 0, 0, 0.2) !important;
}
.grid-1-4 hr {
  width: 60px;
  height: 5px;
  margin-bottom: 34px;
  background-color: #8d81ac;
  border-color: transparent;
}

.grid-1-4 {
  height: 540px;
  width: 80%;
}
.second-h5 {
  margin-bottom: 38px;
}

.grid-1-4 h2 {
  background-color: rgb(120, 98, 115);
  padding: 45px 0;
  font-size: 24px;
  line-height: 20px;
  color: #ffffff;
  font-family: $font_1;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}


.grid-1-4 p {
  font-size: 16px;
  line-height: 17px;
  padding-bottom: 36px;
  color: #ffffff;
  font-family: $font_1;
  font-weight: 400;
  text-align: center;
  color: #9b8282;
  text-transform: uppercase;
}


.grid-1-4 h3 {
  padding-top: 15px;
  padding-bottom: 20px;
  font-size: 60px;
  font-weight: normal;
  line-height: 90px;
  color: #ffffff;
  font-family: $font_1;
  text-align: center;
}


.grid-1-4 h5 {
  font-size: 1em;
  line-height: 28px;
  color: #ffffff;
  font-family: $font_1;
  font-weight: 400;
  text-align: center;
}


.grid-h5 {
  line-height: 0;
}

.grid-1-4:hover {
  position: unset;
  background-color: rgba(121, 97, 119, 0.7);
  z-index: unset;
  transform: unset;
  margin: unset;
  margin: 10px 0;
}

.grid-1-4:hover h2 {
  background-color: rgb(120, 98, 115);
}

.grid-1-4-button {
  background-color: #746a77;
  border-radius: 20px;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  font-family: $font_1;
  font-weight: 400;
  padding: 14px 36px;
  margin: 20px 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.grid-btn {
  margin: 20px 0;
}
.button-nbsp {
  margin-top: 65px;
}

@media(min-width: 481px) {
  .group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .grid-1-4 {
    height: 500px;
    width: 35%;
  }
  .grid-1-4-active {
    width: 35% !important;
    margin: 20px 20px;
    background-color: rgba(121, 97, 119, 0.7) !important;
  }
  

  .grid-1-4-active h2 {
    background-color: rgb(120, 98, 115) !important;
  }

  .grid-1-4 h5 {
    font-size: 0.9em;
    line-height: 28px;
    color: #ffffff;
    font-family: $font_1;
    font-weight: 400;
    text-align: center;
  }

.grid-h5 {
  line-height: 0;
}
.grid-1-4:hover {
  position: relative;
  background-color: rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0px 0px 10px 0px #323232;
  z-index: 2;
  transform: scale(1.2);
  margin: 60px 40px;
}

.grid-1-4:hover h2 {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.grid-1-4-button {
  background-color: #746a77;
  border-radius: 20px;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  font-family: $font_1;
  font-weight: 400;
  padding: 14px 36px;
  margin: 20px 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

}

@media(min-width: 486px){
 .button-enterprise{
   position: relative;
   bottom:  25px;
 }
}
@media(min-width: 610px){
  .button-enterprise{
    position: relative;
    bottom:  unset;
  }
 }
@media(min-width: 992px) {
  .group {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .grid-1-4 {
    width: 20%;
  }
  .grid-1-4-active {
    width: 20% !important;
    margin: 20px 20px;
    background-color: rgba(121, 97, 119, 0.7) !important;
  }
  
  
  .grid-1-4-active h2 {
    background-color: rgb(120, 98, 115) !important;
  }
  .pricing-header {
    max-width: 1200px;
    font-size: 48px;
    font-weight: bold;
  }

  .grid-1-4 h5 {
    font-size: 0.7em;
    line-height: 28px;
    color: #ffffff;
    font-family: $font_1;
    font-weight: 400;
    text-align: center;
  }

  .grid-1-4 h3 {
    padding-top: 15px;
    padding-bottom: 20px;
    font-size: 60px;
    font-weight: bold;
    color: #ffffff;
    font-family: $font_1;
    text-align: center;
  }

.grid-h5 {
  line-height: 0;
}
.grid-1-4:hover {
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 0px #323232;
  z-index: 2;
  transform: scale(1.2);
  margin: 0 40px;
}

.grid-1-4:hover h2 {
  background-color: rgba(0, 0, 0, 0.2);
}

.grid-1-4-button {
  background-color: #746a77;
  border-radius: 20px;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  font-family: $font_1;
  font-weight: 400;
  padding: 7px 22px;
  margin: 20px 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.grid-btn-purchase {
  position: relative;
  bottom: 24px;
  margin: unset;
}

}
@media(min-width: 481px) {
  .grid-1-4 h2 {
    font-size: 18px;
  } 
}

@media(min-width: 550px) {
  .button-enterprise {
    position: relative;
    bottom: 0px;
  } 
}
@media(min-width: 1067px) {
  .button-enterprise {
    position: relative;
    top: 22px;
  } 
}
@media(min-width: 567px) {
  .grid-1-4 h2 {
    font-size: 24px;
  } 
}
@media(min-width: 992px) {
  .grid-1-4 h2 {
    font-size: 24px;
  } 
  .grid-1-4 h5 {
    font-size: 16px;
  } 
}

// fixed scroll
.app {
  overflow: hidden;
}